@import '../../shared/colors.scss';

.wrapper {
    background-color: $main-background-color;
    min-height: 75vh;
}

.project {
    max-width: 75vw;
    margin: 0 auto;
    padding: 48px 0;
}

.project-details-div {
    width: 100%;
    background-color: $plain-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3px;
}

.project-name-div {
    display: flex;
    padding: 24px
}

.project-description-div {
    padding: 16px 24px 24px 24px;
}

.project-tags-div {
    padding: 16px 24px 24px 24px;
}

.loading {
    display: flex;
    padding-top: 48px;
    justify-content: center;
    align-items: center;
}