@import '../../shared/colors.scss';

.main-page{
    background-color: $main-background-color;
    height: 100vh;
}

.wrapper {
    max-width:1440px;
    margin: 0 auto;
}

.intro {
    padding-top: 64px;
}

.header {
    margin-top: 32px;
}