@import '../../shared/colors.scss';

.main-page{
    background-color: $main-background-color;
    height: 100vh;
}

.user-log {
    margin-bottom: 16px;
}

.table {
    padding-top: 64px;
    margin: 0 auto;
    width: 25%;
}