@import '../../../shared/colors.scss';

.form {
    padding-top: 16px; 
    display: flex;
    flex-direction: column;
    
    .form-field {
        margin-bottom: 8px;
    }

    .error-message{
        margin-top: 8px;
    }
    
    .error-message-font{
        color: $error-message;
    }
}