@import '../../shared/colors.scss';

.profile-page {
    background-color: $main-background-color;
    min-height: 75vh;
}

.card-div {
    padding: 48px 0;
}

.profile-content {
    max-width: 900px;
    min-height: 500px;
    margin: 0 auto;
    padding: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile-heading-div {
    margin-bottom: 16px;
    display: flex;
}

.avatar-and-username {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.avatar {
    width: 128px;
    height: 128px;
}

.profile-heading-text {
    font-size: 30px;
    font-weight: 600;
}

.edit-profile-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.edit-profile-button-div {
    height: fit-content;
    align-self: flex-end;
}

.edit-profile-info-div {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
}

.edit-profile-info-heading-div {
    align-self: flex-start;
}

.edit-profile-info-heading-text {
    font-weight: 600;
}

.edit-profile-info-bio-text {
    white-space: pre-wrap;
    text-align: left;
}

.profile-cards {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 32px;
}

.email-paper {
    width: 400px;
    height: 400px;
}

.password-paper {
    width: 400px;
    height: 400px;
}

.loading-div {
    padding-top: 48px;
}