@import 'palette';

$navbar-background-color: $plain-white;
$navbar-button-color: $black;
$main-background-color: $light-gray;
$btn-hover-light: $light-blue-MUI;
$btn-hover-dark: $dark-blue-MUI;
$error-message: $error-red-MUI;
$projects-small-heading: $light-purple;
$projects-button: $deep-blue-figma;
$create-projects-background: $navy-dark-blue;
$create-projects-button: $deep-purple;


