$plain-white: white;
$light-gray: #f5f5f5;
$black: #000000;
$light-blue-MUI: #8cbae8;
$dark-blue-MUI: #1976d2;
$error-red-MUI: #d32f2f;
$light-purple: #6E7DDB;
$deep-blue-figma: #0047FF;
$navy-dark-blue: #000B28;
$deep-purple: #8B007D;