@import '../../shared/colors.scss';

.wrapper {
    background-color: $main-background-color;
    min-height: 100vh;
    padding-bottom: 32px;
}

.protected {
    padding-top: 32px;
}

.create-project {
    max-width: 800px;
    margin: 0 auto;
}

.input-fields-div {
    height: auto;
    padding: 24px;
    background-color: $plain-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3px;
}

.project-name-div {
    display: flex; 
    padding-bottom: 24px;
}

.post-hints-text {
    font-size: 12px;
    text-align: left;
    color: $light-text-color;
}

.project-description-div {
    padding: 6px 0px 24px 0px;
}

.project-tags-div {
    padding: 6px 0px 24px 0px;
}

.post-project-button {
    
}