@import '../../shared/colors.scss';

.wrapper {
    background-color: $main-background-color;
    min-height: 120vh;
    padding-bottom: 32px;
}

.protected {
    padding-top: 32px;
}

.create-project {
    max-width: 75vw;
    margin: 0 auto;
}

.input-fields-div {
    width: 100%;
    height: auto;
    background-color: $plain-white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3px;
}

.project-name-div {
    display: flex;
    padding: 24px 
}

.project-description-div {
    padding: 16px 24px 24px 24px;
}

.project-tags-div {
    padding: 16px 24px 24px 24px;
}

.post-project-button {
    padding-bottom: 24px;
}