@import '../../shared/colors.scss';

.tabs {
    border-right: 1;
    border-color: gray;
    display: flex;
    max-width: 350px;
}

.panel {
    width: 100%
}

.wrapper {
    background-color: $main-background-color;
    min-height: 100vh;
    padding-bottom: 32px;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
}

.about-heading {
    
}

.about-content {
    padding-top: 32px;
}

