.filters {
    display: flex;
    justify-content: space-between;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.chip {
    margin-right: 8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 500;
}

.button-div {
    align-self: center;
    padding-right: 16px;
}

.button {
    color: black;
}