@import '../../shared/colors.scss';

.page-wrapper {
    background-color: $main-background-color;
}

.projects {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 16px;
}

.loading {
    display: flex;
    padding-top: 48px;
    justify-content: center;
    align-items: center;
}

.no-results {
    display: flex;
    padding-top: 48px;
    justify-content: center;
    align-items: center;
}